.menu-sup{
	height: 5rem;
	margin-top:2rem;
	margin-bottom: 4rem;
	border-bottom:1px solid #eee;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(204, 204, 204, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(204, 204, 204, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(204, 204, 204, 0.75);

}
.logo{
	width: 60%;
	float:left;
	margin-left: 2rem;
}
.logo a{
	text-decoration: none;
	color:#000;
	font-size:2rem;
}
.logo a:hover{
	text-decoration: underline;
	
}
.opciones{
	float:right;
	width: auto;
	margin-right: 2rem;
	overflow: hidden;
}
.opciones a{
	padding-right: 1rem;
	text-decoration: none;
	color:#000;
}
.opciones a:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
}
.mensaje{
	width: 70%;
	margin:0 auto;	
	text-align: center;
	font-size: 2rem;
	line-height: 2.9rem;

}
.tres-cols{
	margin-top: 4rem;
	padding-bottom: 6rem;
	border-bottom: 1px solid #ddd;
}
.precios{
	border:1px solid #ccc;
	text-align: center;
	border-radius: 3px;
}
.cab-precio{
	height: 6rem;
	box-sizing: border-box;
	background-color: #ddd;
	margin:1px;
}
.cab-precio h4{
	padding:1rem 0;
}

p{
	margin-bottom: 0.8rem;
	
}
.detalle{
	padding-bottom:1rem;
}
.dolar{
	font-size: 4rem;
}
.mo{
	font-size: 3rem;
	color:#bbb;
}

.btn{
	display:block;
	color: rgb(230, 230, 230);
	font-size: 2rem;
	padding: 1rem;
	text-decoration: none;
	color:#fff;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: rgb(63,156,255);

	width: 80%;
	margin: 0 auto;
	
}
.btn:hover{
	color:rgb(63,156,255);
	background-color: #fff;
	border: 1px solid rgb(63,156,255);
}

.cab-pie h4{
	font-size: 1.8rem;
}
.lista-pie{
	list-style: none;

}
.lista-pie li{
	margin-bottom: 0;
}

.lista-pie a{
	color:#bbb;
	text-decoration: none;
}
.lista-pie a:hover{
	text-decoration: underline;

}